
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

    <label for="exampleFormControlInput1" class="form-label" >Name:</label>
    <input type="text" class="form-control" [(ngModel)] = "name">
    <label for="exampleFormControlInput1" class="form-label">Price:</label>
    <input type="text" class="form-control"  [(ngModel)] = "price"> <br/>
    <button
      type="button"
      class="btn btn-warning"
      [routerLink]= "['/products']"
      [queryParams] ="{name : name? name: '', price: price? price: ''}"
      >Search Name</button> &nbsp;
    <button
      type="button"
      class="btn btn-info"
      (click) = "onSearch()"
      >Search Price</button>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let product of products" [routerLink] = "['/product',product.id]">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price | currency:'USD':true}}</td>
      <td>{{ product.status ? 'in stock': 'out of stock'}}</td>
      <td>
        <a>Edit</a>
        /<a>Delete</a>
      </td>
   </tr>
  </tbody>
</table>

