<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- <div class="btn-group position-absolute bottom-0 start-50 translate-middle" role="group">
  <button type="button" class="btn btn-danger" [routerLink] = "['/index']">Home</button>
  <button type="button" class="btn btn-warning" [routerLink] = "['/about']">About</button>
  <button type="button" class="btn btn-success" [routerLink] = "['/contact']">Contact</button>
</div> -->
<!-- chuyen trang event binding(ben phia ts) -->
<div class="btn-group position-absolute bottom-0 start-50 translate-middle" role="group">
  <button type="button" class="btn btn-primary" (click) = "navigate('index')">Home</button>
  <button type="button" class="btn btn-warning" (click) = "navigate('about')" >About</button>
  <button type="button" class="btn btn-success" (click) = "navigate('contact')">Contact</button>
</div>
